
.todo {
    grid-area: footer;
    margin: 5px;
    border-top: 1px solid $colorNegro;
    display: flex;
    justify-content: map-get($justify , between);

    .redes {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .logo {
            align-items: center;
            text-align: center;
            max-width: 1cm;
            max-height: 1cm;
        }

        .logotexto {
            padding: 5px;
            margin: 5px;
            text-decoration: none;
            color: $colorNegro;
        }
    }


    .formulario {
        padding-top: 10px;
        max-width: 15cm;
        max-height: 5cm;
    }

}