.conteiner {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "buscar buscar buscar"
        "botones botones botones"
        "trending trending trending"
        "tarjetas tarjetas tarjetas"
        "noticias noticias noticias"
        "footer footer footer";
}

/* Buscar */
.buscar {
    text-decoration: underline;
    grid-area: buscar;
    animation-name: opacidad;
    animation-duration: 1s;
    display: block;
    text-align: center;
    margin-top: 40px;
}

/* Compra y venta */

.cgrande {
    grid-area: botones;
    display: grid;
    grid-template-columns: 800px 630px;
    justify-content: map-get($justify , center);
    align-items: center;
    padding: 40px;

    a {
        text-decoration: none;
        color: black;
    }
}

.compras {
    border-radius: 50px;
    width: 600px;
    height: 90px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: map-get($justify , center);
    align-items: center;
    background-image: url(../img/foto.jpg);

    a {
        color: $colorNegro;
        background-color: $colorSecundario;
    }
}

/* Trending */

.trending {
    text-decoration: underline;
    grid-area: trending;
    animation-name: opacidad;
    animation-duration: 1s;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 30px;
    margin: 20px;
}

.tarjetas {
    grid-area: tarjetas;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: map-get($justify , around);

    .tarjeta__titulo {
        text-decoration: none;
        color: black;
        text-decoration: underline;
    }

    .tarjeta1 {
        font-size: 10px;
        width: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px;
        padding: 10px;
        background-color: #d9d9d9;
        transition: all 1s;

        .tarjeta__imagen {
            max-width: 222px;
        }

        .tarjeta__descripcion {
            font-size: 10px;
        }

        .tarjeta__descripcion2 {
            @extend .tarjeta__descripcion;
            font-size: 15px;
        }
    }

    .tarjeta:hover {
        transform: scale(1.1);
        font-size: 10px;
        width: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px;
        padding: 10px;
        background-color: #d9d9d9;
    }


}

/* Noticias */

.naticias {
    grid-area: noticias;

    .noticias {
        text-decoration: underline;
        animation-name: opacidad;
        animation-duration: 1s;
        text-align: center;
        justify-content: map-get($justify , center);
        padding: 70px;
    }

    .noticiero {
        @include PropiedadesFlex(flex, row, wrap, space-around, center);

        .noticia1 {
            width: 920px;
            height: 310px;
            padding: 10px;
            margin: 15px;
            background-color: #d9d9d9;

            .imagen__noticia {
                padding: 10px;
                max-width: 400px;
                max-height: 400px;
                float: left;
                margin-right: 10px;

            }

            .titulonoticia {
                align-items: center;
                padding: 5px;
                font-size: 25px;
                text-align: center;
                padding: 10px;
            }

            .texto__noticia {
                margin-top: 30px;
                width: 900px;
                height: 200px;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}