.navbar {
    grid-area: nav;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: map-get($justify , center);
    align-items: center;
    border: solid 1px $colorNegro;

    ul {
        list-style: none;
        display: flex;

        li {
            padding: 30px;
        }

        a {
            color: $colorNegro;
            text-decoration: none;
        }
    }

}