$colorPrimario : #d1ddd2;
$colorSecundario : #d9d9d9;
$colorBlanco : #fff;
$colorNegro : #000;

$justify:(
    start:start,
    center:center,
    end:end,
    around:space-around,
    evenly:space-evenly,
    between:space-between,
);

@each $clave , $var in ($justify) {
    .justify-content-#{$var} {
        justify-content: $var;
    }
}

@mixin PropiedadesFlex ($display, $direccion, $wrap,$justify, $align) {
    display: $display;
    flex-direction: $direccion;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;

}
    